@model IEnumerable<NetPress.Models.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @{
        Html.RenderAction("homepage", "Blogs");
    }
</div>