@model IEnumerable<NetPress.Models.Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @{
        string test = ViewBag.search;
        Html.RenderAction("homepage", "Blogs", new { search = ViewBag.search});
    }
</div>